.show{
  display: block;
}
.hide{
  display: none;
}
.main-container{
  width: 100%;
  height: calc(100% - 150px);
  position: absolute;
  top: 150px;
  background-color: #717171;
}
.user-form{
  background-color: #fff;
  width: 50%;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 60px auto;
  border-radius: 25px;
  position: relative;
  top: 2%;
  border: solid 2px #000;
}
.user-form input{
  width: 55%;
  margin: auto;
  margin-bottom: 5px;
}
.user-form input[type='number']{
  width: 20%;
  margin-bottom: 5px;
}
.user-gender{
  width: 25%;
}
.users-list{
  width: 50%;
  margin: auto;
}
.user-form select{
  width: 25%;
  margin: auto;
}
.user-panel-main{
  background-color: #fff;
  width: 50%;
  padding-bottom: 20px;
  border: solid 2px #000;
  border-radius: 25px;
  margin: 60px auto;
}
.user-panel-main h1{
  margin-bottom: 50px;
}
@media screen and (max-width: 700px){
  .user-form{
    width: calc(100% - 4px);
  }
  .user-panel-main{
    width: calc(100% - 4px);
  }
}
